.header {
  padding: 45px 0 40px;
  display: flex;
  justify-content: flex-start;
  border-bottom: 1px solid rgba(54,54,54,.7);
}

@media (max-width: 1024px) {
  .header {
    padding-left: 19px;
    padding-right: 19px;
  }
}

@media (max-width: 480px) {
  .header {
    padding-top: 28px;
    padding-bottom: 32px;
  }
}