.popup__input {
  margin: 0;
  padding: 0;
  width: 358px;
  min-height: 30px;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  outline: none;
}

@media (max-width: 640px) {
  .popup__input {
    width: 238px;
  }
}