.profile__occupation {
  margin: 0;
  padding: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 400px;
}

@media (max-width: 768px) {
  .profile__occupation {
    font-size: 14px;
    line-height: 17px;
    max-width: 230px;
    margin: 0 auto;
    text-align: center;
  }
}